[Desktop Entry]
Version=1.0
Type=Application
Name=CLion {{ clion_version }}
Icon={{ clion_location}}/bin/clion.png
Exec="{{ clion_location }}/bin/clion.sh" %f
Comment=Develop with pleasure!
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-clion
